body {
  font-size: 18px;
  margin: 0;
  min-width: 600px;
  padding: 25px;
}

header {
  background-color: #ffc;
  background-image: url(../images/flywheel.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, sans-serif;
  padding: 20px;
  text-align: center;
}

h1 {
  color: #fff;
  font-size: 300%;
  margin: 0;
  padding: 10px;
  text-shadow: 0 0 10px #000;
  text-transform: uppercase;
}

nav a {
  background-color: rgba(255,255,255,0.50);
  border-radius: 5px;
  color: #939;
  display: inline-block;
  font-size: 150%;
  font-weight: bold;
  letter-spacing: 3px;
  margin: 15px;
  padding: 20px;
  text-decoration: none;
  text-shadow: 0 0 10px #fff;
  text-transform: uppercase;
  width: auto;
}

nav a.active {
  background-color: rgba(255,255,255,1);
  color: #693;
}

nav a:hover {
  background-color: #ccc;
  color: #360;
  font-style: italic;
}

aside.left {
  background-color: #69c;
  border-radius: 0 0 25px 25px;
  border-top: 15px solid #fff;
  display: inline-block;
  margin: 0 auto;
  padding: 0 0 50px 0;
  width: 25%
}

aside.left img {
  border: 2px solid #000;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  width: 80%;
}

section.right {
  border: 0;
  display: inline-block;
  font-family: Georgia, serif;
  margin: 0;
  padding: 0 0 0 2%;
  text-align: left;
  vertical-align: top;
  width: 72%;
}